<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>
  <style>nav{
    background-color: #006400;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none ;
}

nav li a {
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color:whitesmoke;
    text-decoration:underline;
    
}
.card-header, .card{
    border-color: #006400;
}
.btn {
    background-color: #006400;
}
</style>
  <nav>
    <h2>LAU MAP</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
   <main id="main-holder">
    <h1 id="login-header">Login</h1>



    {{!-- <form id="login-form"  action="auth/login" method="POST">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" name="loginbtn" value="Login" id="login-form-submit">
    </form> --}}

<form action="/auth/login" method="POST">
      <input type="text" name="email">
      <input type="password" name="password">
      <button type="submit">Login</button>
    </form>
  </main>
</body>
</html>